.dashboard{
    width: 100%;
    height: 100vh;
    display: flex;
}
.sidebar{
    background-color: #ffffff;
    width: 25%;
    height: 100vh;
    border-right: 2px solid white;
}
.dashboard-main{
    width: 75%;
    height: 100vh;
    background-color: #f5f5f5;
}
.sidebar-footer{
    width: 100%;
    height: 10vh;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 2rem;
}
.sidebar-footer h4{
    font-size: 1.5rem;
    font-weight: 500;
    color: #717171;
    margin: 0;
}
.sidebar-logo{
    height: 10vh;
    background-color: #364f52;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-img{
    width: 140px;
    height: 60px;
}
.sidebar-menu{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.sidebar-menu h4{
    font-size: 1.5rem;
    font-weight: 500;
    color: #717171;
    margin: 0;
}
.sidebar-menu-item{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.sidebar-menu-item:hover{
    background-color: #f5f5f5;
}
.sidebar-menu-item-img{
    background-color: #717171;
    width: 20px;
    height: 20px;
}
.selected{
    background-color: var(--primary-color) !important;
}
.selected:hover{
    background-color: var(--primary-color-dark) !important;
}
.selected h4{
    color: #ffffff;
}
.selected .sidebar-menu-item-img{
    background-color: #0B63F8;
}




/* Dashboard Pages Start Here  */

/* Membership Page */
.membership{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
}
.membership h1{
    font-size: 1.2rem;
    font-weight: 500;
    color: #717171;
    margin: 0;
}
.filter-membership{
    width: 100%;
    height: 10vh;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 2rem 0.5rem;
}
.table-container{
    width: 100%;
    height: 80vh;
    /* border: 2px solid yellow; */
}
.header{
    display: flex;
    gap: 0.4rem;
    background-color: #364F52;
    border-radius: 1rem;
    padding: 1rem 0.3rem;
    margin: 0.3rem;
    height: 10%;
}
.header h1{
    color: #ffffff;
}
.item1{
    width: 20%;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0 0.3rem;
    justify-content: center;
}
.item2{
    width: 10%;
    text-align: center;
}
.item3{
    width: 12%;
    text-align: center;
}
.item4{
    width: 25%;
    text-align: center;
}
.item5{
    width: 15%;
    text-align: center;
}
.item6{
    width: 15%;
    text-align: center;
}
.table-body{
    width: 100%;
    height: 90%;
    padding: 0 0.3rem;
}
.table-row{
    display: flex;
    gap: 0.4rem;
    margin: 0.5rem 0;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background-color: white;
    align-items: center;
}
/* .table-row:nth-child(even) {
    background-color: #f361006b;
}
.table-row:nth-child(odd) {
    background-color: #99b3cc;
} */
.table-row h1{
    font-size: 1rem;
    font-weight: 500;
    color: #717171;
    margin: 0;

}
.item1 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.item{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item p{
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    margin: 0;
}
.item a{
    color: var(--primary-color-dark);
    font-weight: 600;
}

.plan{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.divider{
    width: 2px;
    height: 90%;
    background-color: #717171;
    margin: 0.5rem 0;
}
.date{
    display: flex;
    gap: 0.7rem;
    height: 100%;
    align-items: center;
}
.date h3{
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    margin: 0;
}
.status-badge{
    width: 100px;
    height: 30px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f36100;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    gap: 0.5rem;
}
.status-badge h1{
    color: #ffffff;
    font-size: 1.2rem;
}
.circle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: green;
}
.actions{
    display: flex;
    gap: 1rem;
    height: 100%;
    align-items: center;
}
.actions svg{
    fill: var(--primary-color-dark);
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
  }
  
  .page-item {
    border: 1px solid #ccc;
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
}
  
  .page-item:hover {
    background-color: var(--primary-color);
  }
  
  .page-item.active {
    background-color: var(--primary-color-dark);
    color: #000;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid var(--primary-color-dark);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.pagination-container{
  display: flex;
  gap: 0.4rem;
  background-color: #364F52;
  border-radius: 1rem;
  padding: 1rem 0.3rem;
  margin: 0.3rem;
  justify-content: right;
  align-items: center;
}

.filter-membership-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header-table{
    width: 40%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.filter-membership-item{
    width: 60%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.search-container{
    display: flex;
    gap: 0.5rem;
}
.search-container input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #717171;
    padding: 0 1rem;
    outline: none;
    color: #000;
    font-size: 1.2rem;
}
.search-container button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #717171;
    background-color: var(--primary-color);
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}

.search-container::-webkit-input-placeholder{
    color: #717171;
    font-size: 1rem;
    font-weight: 500;
}

.filter-container{
    position: relative;
}

.filter-dropdown{
    position: absolute;
    width: 200px;
    left: -150px;
    top: 40px;
}

.dropdown-item-hide {
    display: none;
}

.dropdown-item-show {
    display: block;
}

.dropdown-input {
    width: 100%;
    /* padding: 0 0.3em 0.2rem 0.3em; */
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.9s ease-in-out;
    border: none;
    outline: none;
    line-height: 2.5rem;
    border-bottom: 2px solid lightblue;
}

.dropdown-item {
    width: 100%;
    height: 30px;
    padding: 0 0.3em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: #095988;
    border-bottom: 1px solid lightblue;
    color: white;
    font-weight: "500";
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.dropdown-item:hover {
    width: 100%;
    height: 30px;
    padding: 0 0.3em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid lightblue;
    color: black;
    font-weight: 500;
    font-size: 1rem;
    background-color: #f36100;
    display: flex;
    align-items: center;
}

.icon {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.9s ease-in-out;
    fill: blue;
}

.date-container h4{
    font-size: 0.8rem;
    font-weight: 500;
    color: #717171;
    margin: 0;

}
.date-container input{
    width: 100%;
    height: 24px;
    border-radius: 5px;
    border: 1px solid #717171;
    padding: 0 0.5rem;
    outline: none;
    color: #000;
    font-size: 0.8rem;
    cursor: pointer;
}

.add-btn{
    background-color: var(--primary-color);
    width: fit-content;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    padding: 0.3rem 0.4rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
.add-btn h1{
    color: white;
    font-weight: 600;
    cursor: pointer;
}