@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary-color: #f36100;
    --secondary-color: #f5f5f5;
    --primary-color-dark: #d35400;
    --bg-gray-light: #f5f5f5;
    --bg-gray: rgb(227, 227, 227);
    --bg-gray-2: rgb(224, 224, 224);
    --bg-logo: #364f52
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.Layout {
    position: relative;
}

.Home {
    min-height: 100vh;
    background-image: url('../public/hero-1.jpg');
    background-position: 40% 20%;
    background-repeat: no-repeat;
}

.Page {
    padding-top: 14vh;
}