.Header {
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* border: 1px solid blue; */
}

.Header_Logo {
    height: 2.8vw;
    width: 12vw;
}

.Header_Logo_Image {
    height: 100%;
    width: 100%;
}

.Header_Navigation {
    display: flex;
    align-items: center;
    gap: 1.8vw;
}

.Header_Navigation .Link {
    text-decoration: none;
    font-weight: 600;
    font-size: 1vw;
    color: white;
}

.Header_Auth {
    /* border: 1px solid red; */
    width: 10vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
}

.Header_Auth_btn {
    border: none;
    background-color: transparent;
    font-size: 1.2vw;
    font-weight: 600;
    cursor: pointer;
    color: white;
}

.profile-circle {
    position: relative;
    height: 3vw;
    width: 3vw;
}

.profile-option {
    background-color: aliceblue;
    padding: 0.5rem;
    position: absolute;
    right: 0vw;
    top: 3vw;
    border-radius: 1vw 0 0 1vw;
}

.profile-circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    object-fit: contain;
}


.profile-option h2 {
    color: black;
    cursor: pointer;
}